<div class="text-center">
  <h2>{{title}}</h2>

  {{!-- {{#if logged_in}}
  <div class="left-aligned">
        <button id= "delete-post" class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
        <h4><a href="/updatepost/{{id}}">update post</a></h4>
  </div>
  {{/if}} --}}

  <p>{{postText}}</p>
  <p>Created by {{user.email}} on {{format_date date_created}}</p>

  {{#if logged_in}}
  <div class="left-aligned">
        <button id= "delete-post" class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
        <h4 id="update-post"><a href="/updatepost/{{id}}">update post</a></h4>
  </div>
  {{/if}}
</div>



{{#if comments.length}}
  <div class= "comment-border" id="comment-list">
    <p>Current comments:</p>

    {{#each comments as |comment|}}
    <div>
      <p>
        {{comment.commentText}}
        <br>
        Created by {{user.email}} on {{format_date date_created}}
      </p>
    </div>
    {{/each}}
  </div>
{{/if}}
<div>

{{#if logged_in}}
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Comment:</h3>

    <form class="form" id= "new-comment-form">
      <div class="form-group">
        <label for="comment-text">text:</label>
        <textarea class="form-input" id="comment-text" name="comment-text"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
  {{/if}}


<script src="/js/comment.js"></script>
<script src="/js/deletepost.js"></script>